allure-pytest==2.9.43
allure-python-commons==2.9.43
allure-robotframework==2.9.43
apipkg==1.5
appdirs==1.4.4
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
boto==2.49.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
chromedriver-py==92.0.4515.43
colorama==0.4.4
commonmark==0.9.1
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.7
cssselect==1.1.0
decorator==5.0.9
distlib==0.3.2
EasyProcess==0.3
enum34==1.1.10
execnet==1.8.1
fasteners==0.16.3
filelock==3.0.12
h11==0.12.0
idna==3.2
iniconfig==1.1.1
ipdb==0.13.9
ipython==7.26.0
jedi==0.18.0
lxml==4.6.3
matplotlib-inline==0.1.2
more-itertools==8.8.0
msedge-selenium-tools==3.141.3
namedlist==1.8
nodejs==0.1.1
nose==1.3.7
oop-training-python==0.0.1
optional-django==0.1.0
outcome==1.1.0
packaging==21.0
parameterized==0.8.1
parso==0.8.2
pdfminer.six==20201018
pickleshare==0.7.5
Pillow==8.3.1
pip==21.2.4
platformdirs==2.2.0
pluggy==0.13.1
prompt-toolkit==3.0.19
py==1.10.0
pycparser==2.20
Pygments==2.9.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyotp==2.6.0
pyparsing==2.4.7
pytest==6.2.4
pytest-allure-adaptor==1.7.10
pytest-forked==1.3.0
pytest-metadata==1.11.0
pytest-ordering==0.6
pytest-rerunfailures==10.1
PyVirtualDisplay==2.2
PyYAML==5.4.1
requests==2.26.0
rich==10.7.0
sbvirtualdisplay==1.0.
selenium==3.141.0
seleniumbase==1.63.23
setuptools==57.4.0
setuptools-scm==6.0.1
siderunner==0.2.5
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
toml==0.10.2
tornado==6.1
training-pkg==0.0.1
traitlets==5.0.5
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.7.2
wcwidth==0.2.5
webdriver-manager==3.4.2
wheel==0.37.0
wsproto==1.0.0