name: Pytest application_Conduit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Install Chrome
        run: |
          sudo apt install google-chrome-stable

      - name: Start Conduit
        run: docker-compose up -d

      - name: Sleep for 80 seconds
        run: sleep 80s
        shell: bash

      - name: Collect docker logs
        uses: jwalton/gh-docker-logs@v1
        with:
          dest: './logs'

      - name: Archive execution artifacts
        uses: actions/upload-artifact@v2
        with:
          name: docker-l
          path: ./logs

      - name: Test with pytest
        run: |
          pytest ./riport --alluredir=allure-results

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history